@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.text-input {
  width: 100%;
  // max-width: 360px;
  margin-left: 0px;
  margin-right: inherit;
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  input[type='date'],
  textarea {
    background-color: $base-white;
    border-radius: 2px;
    padding: 8px;
    border: 1px solid $periwinkle;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    color: $base-dark-grey;
    max-width: 280px;
    font-family: LimerickMedium;
    &.error {
      outline: red auto 4px;
      background-color: $blush;
    }
  }

  textarea {
    resize: none;
  }
  label {
    font-family: LimerickMedium;
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .inlineLabel {
    @include respond(sm) {
      display: inline-block;
      text-align: right;
      width: 200px;
      margin-right: 20px;
    }
    // h5 {
    //   font-size: 16px;
    // }
  }
}
